@model LibraryWebApp.Models.AboutUsModel
@{
    ViewBag.Title = "About";
}

<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../content/site.css" />
</head>
<body>
    <h2>Staff Directory</h2>
    <div class="row">
            @foreach (var user in Model.UsersModel.ListOfUsers)
            {
                if (user.RoleName == "Employee")
                {
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <img src="~/Content/user-images/profileanon.jpg" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <h3><strong>@user.FirstName @user.LastName</strong></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                Description of the employee would go here. For now, it is a placeholder.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    <a href="mailto: @user.PrimaryEmail"> @user.PrimaryEmail</a>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    <strong>@user.PrimaryPhone</strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>

                }
            }
    </div>

    <div class="row">
        <!--Hours-->
        <div class="hours-block col-xs-10 col-md-4">
            <div class="hours-box-center">
                <h3>Hours</h3>
                <table class="schedule">
                    @foreach (var day in Model.DayHours)
                    {
                        <tr><th>@day.DayName</th><td>@day.HourOfOperation</td></tr>
                    }
                </table>
            </div>

        </div>
        <!--Location-->
        <div class="hours-block  col-xs-12 col-md-4">
            <div class="hours-box-center2">
                <h3 id="location-header">Location</h3>
                @*<span> Address: </span>*@
                <p class="footerLinks" id="home-center-box">
                    Address:
                    <a id="link2" href="https://www.google.com/maps/place/Westview+Cemetery+Inc./33.7330846,-84.4306764,13.62z/data=!4m5!3m4!1s0x88f51cbbe22cb30f:0x7b869bcdcf20033c!8m2!3d33.7463642!4d-84.4422021">
                        1680 Westview Dr SW, Atlanta, GA 30310
                    </a>
                </p>
            </div>
        </div>
        <div class="hours-block2 col-xs-12 col-md-4">
            <div class="hours-box-center3">
                <h3 class="map-title">Map Location</h3>
                <!--Map Image-->
                <img id="image-height2" src="~/Content/book-images/map.jpg" />
                @*<div class="block3">
                    </div>*@
                @*</div>*@
                @*</div>*@
            </div>
        </div>
    </div>
    <div class="home-dividers">
        <h2>FAQ</h2>
    </div>
    <br />
    @*faq section*@
    <div class="row">
        @*<br/>*@
        @*<div class="col-md-12">*@

        @*</div>*@

        @*</div>
            <div class="row">*@

        @*<div id="home-faq" class="well well-sm">*@
        <div class="col-md-6">
            <div class="well well-sm" style="background-color: #A5CECD; " ;>
                @*lighter blue color*@
                <div class="footerLinks"> @Html.ActionLink("FAQ Page", "FAQ", "Home", null, new { id = "link2" })</div>
                <p> Get help by seeing the frequently asked questions! </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm" style="background-color: #A5CECD; ">
                <div class="footerLinks"> @Html.ActionLink("Contact Us Page", "Contact", "Home", null, new { id = "link2" })</div>
                <p> Contact us if you have any more questions! </p>
            </div>
        </div>
    </div>
</body>
</html>