@model WebApplicationExample.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../content/site.css" />
</head>
<body>
    <div>
        <div class="home-dividers">
            <h2>New Additions</h2>
        </div>
    </div>
    <br />

    <!-- TODO: add model varables to change info based on database-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @for (int i = 0; i < Model.CarouselMedia.Count; i++)
            {
                var media = Model.CarouselMedia[i];
               
                <div class="item @(i == 0 ? "active" : "")">
                    <img id="image-height" src="~/Content/book-images/@media.ImageName" alt="Los Angeles">
                    <div class="carousel-caption">
                        <h3>@media.Title</h3>
                        <h2>@media.Publisher</h2>
                        <h4>@media.Genre</h4>
                        <p class="summary-text">@media.Description</p>
                    </div>
                </div>
            }
                
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
             
    <br />

    <div>
        <div class="home-dividers">
            <h2>Location and Hours</h2>
        </div>
    </div>

    @*<br />*@
    <!-- Information Blocks -->
    <div class="row">
        <!--Hours-->
        <div class="hours-block col-xs-10 col-md-4">
            <div class="hours-box-center">
                <h3>Hours</h3>
                <table class="schedule">
                    @foreach (var day in Model.DayHours)
                    {
                        <tr><th>@day.DayName</th><td>@day.HourOfOperation</td></tr>
                    }
                </table>
            </div>

        </div>
        <!--Location-->
        <div class="hours-block  col-xs-12 col-md-4">
            <div class="hours-box-center2">
                <h3 id="location-header">Location</h3>
                @*<span> Address: </span>*@
                <p class="footerLinks" id="home-center-box">
                    Address:
                    <a id="link2" href="https://www.google.com/maps/place/Westview+Cemetery+Inc./33.7330846,-84.4306764,13.62z/data=!4m5!3m4!1s0x88f51cbbe22cb30f:0x7b869bcdcf20033c!8m2!3d33.7463642!4d-84.4422021">
                        1680 Westview Dr SW, Atlanta, GA 30310
                    </a>
                </p>
            </div>
        </div>
        <div class="hours-block2 col-xs-12 col-md-4">
            <div class="hours-box-center3">
                <h3 class="map-title">Map Location</h3>
                <!--Map Image-->
                <img  id="image-height2" src="~/Content/book-images/map.jpg" />
                @*<div class="block3">
                    </div>*@
                @*</div>*@
                @*</div>*@
            </div>
        </div>
    </div>
    <div class="home-dividers">
        <h2>FAQ</h2>
    </div>
    <br />
    @*faq section*@
    <div class="row">
        @*<br/>*@
        @*<div class="col-md-12">*@

        @*</div>*@

        @*</div>
            <div class="row">*@

        @*<div id="home-faq" class="well well-sm">*@
        <div class="col-md-6">
            <div class="well well-sm" style="background-color: #A5CECD; " ;>
                @*lighter blue color*@
                <div class="footerLinks"> @Html.ActionLink("FAQ Page", "FAQ", "Home", null, new { id = "link2" })</div>
                <p> Get help by seeing the frequently asked questions! </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm" style="background-color: #A5CECD; ">
                <div class="footerLinks"> @Html.ActionLink("Contact Us Page", "Contact", "Home", null, new { id = "link2" })</div>
                <p> Contact us if you have any more questions! </p>
            </div>
        </div>
    </div>

</body>
</html>
