@model LibraryWebApp.Models.UserModel

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-xs-12 col-sm-6 table-bordered">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {

            <div class="form-group">
                <label for="name">Username: </label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "alert-danger" })
            </div>

            <div class="form-group">
                <label for="name">Password</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "alert-danger" })
            </div>

            <input type="submit" value="Login" class="btn btn-primary" />

        }
    </div>

    <div class="col-xs-12 col-sm-6 table-bordered">
        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {

            <div class="form-group">
                <label for="name">Username</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "alert-danger" })
            </div>

            <div class="form-group">
                <label for="name">Password</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "alert-danger" })
            </div>

            <input type="submit" value="Register" class="btn btn-primary" />

        }
    </div>
</div>


@*<div class='parent-login'>


    <div class='box-login'>
        Login
        <form>
            <table>
                <tr>
                    <th>Username:</th>
                    <td><input type="text" size="8"></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><input type="password" size="8"></td>
                </tr>
            </table>
        </form>
        <button type="button">Login</button>
    </div>

    <div class='box-register'>
        Register
        <form>
            <table>
                <tr>
                    <th>Username:</th>
                    <td><input type="text" size="8"></td>
                </tr>
                <tr>
                    <th>First Name:</th>
                    <td><input type="text" size="8"></td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td><input type="text" size="8"></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><input type="text" size="8"></td>
                </tr>
                <tr>
                    <th>E-Mail Address:</th>
                    <td><input type="email" size="8"></td>
                </tr>
                <tr>
                    <th>Phone Number:</th>
                    <td><input type="text" size="8"></td>
                </tr>
            </table>



        </form>
        <button type="button">Submit</button>
    </div>
</div>*@
