@using LibraryWebApp.Utility;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Solo Jazz Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body>

    <header>
        <div class="row">
            <div class="col-md-2">
                <div class="title">Solo Jazz Library</div>
            </div>
            <div class="col-md-3">
                <nav>
                    @*<div class="headerButtons-list">*@

                    <ul class="headerButtons">

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (ProfileChecker.IsLoggedIn())
                        {

                            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        }

                    </ul>
                    @*</div>*@


                </nav>
            </div>
            <div class="col-md-3 col-md-offset-4" id="SearchButtonSmallScreen">
                <div class="search">
                    <form action="home/search">
                        <input type="text"
                               placeholder=" Search Catalog"
                               name="query">
                        <button>
                            🔎
                        </button>
                    </form>
                </div>

            </div>
        </div>
        @*<div class="headerButtons-list">




            </div>*@

    </header>
    <main>
        <div class="allButFooter">
            @RenderBody()
        </div>
    </main>
    <footer>
        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        <div class="row" style="background-color: #3D3D3D; width:100%; min-height: 290px; max-height: stretch;  width: 100%; border-top-color: black; display: flex;  bottom: 0;">
            @*<div class="footerCollumn" id="newsletter">*@
            <div class="col-xs-12 col-md-3   col-md-offset-1 footerCollumn2">
                <div class="col-md-12 ">
                    <p id="footerCollumnHeader">
                        Join the newsletter
                    </p>
                    <p class="newsletterInfo"> Get notified monthly when you need to return a book, or when new books are added!</p>
                    @*<div class="newsletterInput">*@
                    <div class="col-md-12" style="padding-top: 4%">
                        <div class="col-md-8" id="newsletterInput2">
                            <input type="email" placeholder="Enter your Email" style="width: 97%;  max-width: 100%; border-radius: 10px; padding-left: 4%;" "  />
                        </div>
                        <div class="col-md-4" id="newsletterInput2">
                            <button type="button" class="footerButton" style="font-size: 15px;"> <span>Sign up</span> </button>
                        </div>
                    </div>
                </div>

                @*</div>*@

            </div>

            @*</div>*@
            <div class="col-xs-12 col-md-4 ">
                <div class="footerCollumn2" @*id="faq"*@>
                    <p id="footerCollumnHeader">
                        FAQ and Support @*<br />*@
                    </p>
                    <div class="footerLinks"> @Html.ActionLink("FAQ Page", "FAQ", "Home", null, new { id = "link" })</div> @* passed the name of the link, the view,
                        the location folder of view, no id so null, then the style*@
                    <div class="footerLinks"> @Html.ActionLink("Support Page", "Support", "Home", null, new { id = "link" })</div>
                </div>
            </div>
            <div class="col-xs-13 col-md-3 ">

                <div class="footerCollumn2" style="margin-bottom: 0px;">
                    <p id="footerCollumnHeader">
                        Contact Us
                    </p>
                    <div class="footerLinks"> @Html.ActionLink("Contact Us Page", "Contact", "Home", null, new { id = "link" })</div>
                    <p class="footerLinks">
                        Phone:
                        <a class="footerLinks" href="tel:1-237-6679" id="link">
                            1-237-6679
                        </a>
                    </p>
                    <p class="footerLinks">
                        Fax:
                        <a class="footerLinks" href="tel:1-237-2873" id="link">
                            1-237-2873
                        </a>
                    </p>
                    <p class="footerLinks">
                        Email:
                        <a class="footerLinks" href="mailto:SoloJazzLibrary@gmail.com" id="link">
                            Library@gmail.com
                        </a>
                    </p>
                    <p class="footerLinks">
                        Address:
                        <a class="footerLinks" id="link" href="https://www.google.com/maps/place/Westview+Cemetery+Inc./33.7330846,-84.4306764,13.62z/data=!4m5!3m4!1s0x88f51cbbe22cb30f:0x7b869bcdcf20033c!8m2!3d33.7463642!4d-84.4422021">
                            1680 Westview Dr SW, Atlanta, GA 30310
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

